{
    "@firebase-key": "",
    "@firebase-auth-domain": "",
    "@firebase-project-id": "",
    "@firebase-database-url": "",
    "@firebase-storage-bucket": "",
    "@api-base-url": "http://localhost:3000"
}